<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TM Dashboard</title>
    <link rel="stylesheet" type="text/css" href="../public/index-styler.css">
    <!-- For icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <script src="https://cdn.lordicon.com/lordicon.js"></script>

    <!-- For fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <div id="container">
        <div class="top-nav">
            <div class="t-l">
                <div class="t-ll">
                    <i class="fa-solid fa-list-check"></i>
                </div>
                <div class="t-rr">
                    TaskMaster
                </div>
            </div>

            <div class="t-r">
                <button class="add_task" type="button">Add Task</button>

                <div class="t-search">
                    <input type="search" placeholder="Search tasks..." class="ts-search">
                    <button type="button" class="ts-btn"><i class="fa-solid fa-magnifying-glass"></i></button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>