<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/form.css" />
    <title>Sign up form</title>
</head>
<body>
    <div id="container">
        <div class="header">
            Sign up form
        </div>

        <div class="form">
            <form action="/submit" method="post">
                <label for="name">
                    <div class="f-title">
                        Full name:
                    </div>
                    <input type="text" id="name" name="name" class="dp1" placeholder="Full name...">
                </label>

                <label for="number"></label>
                    <div class="f-title">
                        Phone Number:
                    </div>
                    <input type="tel" id="number" name="number" class="dp1" placeholder="Phone Number...">
                </label>

                <label for="email"></label>
                    <div class="f-title">
                        Email:
                    </div>
                    <input type="tel" id="email" name="email" class="dp1" placeholder="Email...">
                </label>

                <div class="f-butt">
                <button type="submit" class="btnn">Submit Form</button>
                </div>

            </form>
        </div>
    </div>
</body>
</html>